<%include partials/header%>
<div class='ui main text container segment'>
<div class='ui huge header'>EDIT <%=eblog.title%></div>
    <form  class='ui form' action='/blogs/<%=eblog._id%>?_method=PUT' method='POST'>
        
        
       <div class='field'>
            <label>TITLE</label>
            <input type='text' name='blog[title]' value='<%=eblog.title%>' required>
            </div>
      <div class='field'>
            <label>IMAGE</label>
            <input type='url' name='blog[image]' value='<%=eblog.image%>' required>
            </div>
            <div class='field'>
            <label>BLOG CONTENT</label>
        <textarea id="mytextarea" name='blog[body]' rows="20" required ><%=eblog.body%></textarea>  
        </div>
        <input class='ui black big  button' type='submit'>
    </form>

</div>
<%include partials/footer%>