<%include partials/header%>
<div class="mycontainer">
  <div class="ui huge header">
    <form method="GET" action='/blogs'>
      <input type="text" name='search' id="myInput" value='<%=filter%>' placeholder="Search for Blogs..">
      <button class='search-btn' type='submit'>Search</button>
    </form>
  </div>
  <%if(total===0){%>
  <div>
    <h3 id='msg'>No Blogs Found</h3>
  </div>
  <%}%>
  <div class="ui link cards">
    <%blogs.forEach(function(blog){%>
  <div class="card blog" style="cursor: initial;">
    <div class="image">
      <img src="<%=blog.image%>">
    </div>
    <div class="content">
      <a class='header' href='/blogs/<%=blog._id%>'>
        <div class="title"><%=blog.title%></div>
      </a>
      <div class="meta">
        <span>Created By:<%=blog.author.username%></span>
      </div>
      <div class="meta">
        <span><i class="far fa-comment-dots"></i> <%=blog.comments.length%> comments</span>
      </div>
      <div class="description">
        <% var desc= blog.body.replace( /(<([^>]+)>)/ig, '').substring(0,100) %>
        <p><%= desc %>...</p>
      </div>
    </div>
    <div class="extra content">
      <a class='ui floated black button button-index' href='/blogs/<%=blog._id%>'>Read more</a>
      <br>
      <br>
      <span><%=moment(blog.created).fromNow()%></span>

    </div>
  </div>
  <%})%>
</div>

<div class='pagination'>
  <%if(current>1){%>
  <span class='card-page'>
    <a href='/blogs<%=search?`search=${filter}&`:''%>?page=<%=current-1%>'><span style='margin:2em;'>Back</span></a>
  </span>
  <% } %>
  <% if(showNext){ %>
  <span class='card-page'>
    <a href='/blogs?<%=search?`search=${filter}&`:''%>page=<%=current+1%>'><span style='margin:2em;'>Next</span></a>
  </span>
  <% } %>
</div>
<div class='options'>
  <span>
    <% if((total)>1){ %>
    <select class='card-page' name='page' onchange="window.location.href=this.value;">
      <% for(var i=1;i<=total;i++){ %>
      <%if(current==i) {%>
      <option value='/blogs?<%=search?`search=${filter}&`:''%>page=<%=i%>' selected='selected'>Page <%=i%></option>
      <% }else {%>
      <option value='/blogs?<%=search?`search=${filter}&`:''%>page=<%=i%>'>Page <%=i%></option>
      <% } %>
      <%}%>
      </select>
    <%} %>
  </span>
</div>
</div>

<%include partials/footer%>