<%include partials/header%>
<div class='ui main text container'>
    <div class='ui huge header'>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Blogs..">
    </div>
    <div class=' ui top attached segment'>
        <div class='ui divided items'>
            <h3 id='msg'></h3>
            <%blogs.forEach(function(blog){%>
            <div class='item blog'>
                <div class='image'>
                    <img src="<%=blog.image%>">
                </div>
                <div class='content'>
                    <a class='header' href='/blogs/<%=blog._id%>'><div class="title"><%=blog.title%></div></a>
                    <div class='meta'>
                        <span><%=blog.created.toString()%></span>
                    </div>
                    <div class='description'>
                        <p><%-blog.body.substring(0,300)%>...</p>
                    </div>
                    <div class='extra'>
                        <a class='ui floated basic blue button' href='/blogs/<%=blog._id%>'>Read more</a>
                    </div>
                </div>
            </div>
            <%})%>
        </div>
    </div>
</div>
<%include partials/footer%>