<%include partials/header%>
<div class="mycontainer">
    <div class="ui huge header">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Blogs..">
    </div>
    <div class="ui link cards">
        <%blogs.forEach(function(blog){%>
        <div class="card blog" style="cursor: initial;">
          <div class="image myimage">
            <img src="<%=blog.image%>">
        </div>
          <div class="content">
            <a class='header' href='/blogs/<%=blog._id%>'><div class="title"><%=blog.title%></div></a>
            <div class="description">
                p><%=blog.body.substring(0,100)%>...</p>
            </div>
          </div>
          <div class="extra content">
            <a class='ui floated basic blue button' href='/blogs/<%=blog._id%>'>Read more</a>
            <br>
            <br>
            <span><%=blog.created.toString()%></span>

          </div>
        </div>
        <%})%>
      </div> 
      <div>
        <h3 id='msg'></h3>
        </div>  
</div>

<%include partials/footer%>